.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-container {
    position: relative;
    background: var(--white-color);
    border-radius: 32px;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.leaflet-control-zoom {
    position: absolute;
    top: 696px;
    left: 533px;
}

.leaflet-bar {
    display: flex;
}

.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.leaflet-bar a:first-child {
    border-right: 1px solid var(--color-grey-5);
    border-bottom: none;
}

.leaflet-left .leaflet-control {
    margin-left: 0;
}

.leaflet-top .leaflet-control {
    margin-top: 0;
}

/* .leaflet-popup-content-wrapper {
    background: #96b7ea;
} */